.footer {
  margin: 0 auto;
  max-width: 880px;
}
.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 282px;
  margin: 48px 19px 36px 0;
}
@media screen and (max-width: 879px) {
  .footer {
    max-width: 879px;
    margin: 0 auto 0 60px;
  }
  .footer__copyright {
    margin-left: 80px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    max-width: 580px;
  }
  .footer__copyright {
    max-width: 580px;

    margin-right: 0;
    margin-left: 90px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin-left: 19px;
  }
  .footer__copyright {
    max-width: 282px;
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
    line-height: 17px;
  }
}
