.header {
  min-height: 120px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100%;
  max-width: 882px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}
.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

@media screen and (max-width: 621px) {
  .header {
    width: 100%;
    margin: 0;
  }
  .header__logo {
    margin-left: 27px;
  }
}
@media screen and (max-width: 480px) {
  .header__logo {
    margin-left: 27px;
  }
}
