.header {
  min-height: 120px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 200px;
}
.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

.header::before {
  content: "";
  width: 880px;
  height: 1px;
  opacity: 0.7;
  background: #545454;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 480px) {
  .header {
    min-height: 85px;
  }
  .header::before {
    width: calc(100% + 40px);
  }
  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}
