.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 999;
  padding: 0 19px;
}
.modal__container {
  padding: 36px;
  position: relative;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  max-width: 430px;
  height: 330px;
}
.modal__close {
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-color: transparent;
  border: none;
  background-image: url(../images/Close\ Icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  cursor: pointer;
  padding: 0;
}
.modal__close:hover {
  opacity: 0.6;
}
.modal__opened {
  display: flex;
  border: none;
}
.modal__button {
  color: #fff;
  background-color: #000;
  border: none;
  padding: 0;
  font-family: Inter, "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  width: 358px;
  height: 50px;
  text-align: center;
  margin: 0;
  cursor: pointer;
}
.modal__button:hover {
  opacity: 0.6;
}
.modal__form {
  width: 358px;
  height: 28px;
  margin: 0 36px 48px;
}
.modal__input {
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  width: 358px;
  width: 100%;
  font-family: Inter, "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
  padding: 0;
}
.modal__heading {
  font-family: Inter, "Arial", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 23px;
  text-align: left;
  margin: 34px 64px 54px 36px;
}

@media screen and (max-width: 568px) {
  .modal__container {
    max-width: calc(100% - 19px * 2);
    width: 100%;
    /*height: 322px;*/
    margin-top: 8px;
    padding: 25px 22px;
  }
  .modal__input {
    max-width: 238px;
  }
  .modal__button {
    max-width: 238px;
    height: 46px;
  }
  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 10px);
    left: calc(100% - 33px);
  }
  .modal__form {
    margin: 25px 22px;
    max-width: 238px;
    margin-bottom: 45px;
  }
  .modal__heading {
    margin-left: 22px;
  }
}
/*@media screen and (max-width: 320px) {
  .modal__container {
    
  }
}
