.page {
  background-color: black;
  color: white;
  margin: 0;
}
.page__content {
  margin: 0 auto;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .page__content {
    display: flex;
    margin: 0 16px;
    max-width: calc(100% - 16px);
  }
}

@media screen and (max-width: 450px) {
}
