.page {
  background-color: black;
  color: white;
  margin: 0;
}
.page__content {
  margin: 0 auto;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .page__content {
    margin: 0 20px;
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .page__section {
    padding: 40px 73px 27px 78px;
    width: 100%;
    align-items: center;
  }
}
